*.pyc
*~
/.vscode
/.idea
/.env
.DS_Store
.env


/media
/staticfiles
/db.sqlite3


venv/
env/
env.bak/


/log/
/*.log


/migrations
/__pycache__


*.swp
*.swo
*.swx
*.pyc
*.pyo
*.pyd
*.bak
*.tmp


__pycache__/
*.pyc


/dist/
/build/


/venv/
/.venv/


/secrets.json
/local_settings.py
